*~
*.pyc
*.sqlite3
secret-config.yaml
secret-config-casoe.yaml
secret-config-casoe.yml
facile-erp.db


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.txt