*~
*.pyc
*.sqlite3
secret-config.yml
secret-config-casoe.yml
secret-config-local.yml
facile-erp.db


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.txt