

body {
    font-family: "Lato", sans-serif;
}

#formnav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #EEEEEE;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
}

#formnav a, .dropdown-btn {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #888888;
    background-color: #EEEEEE;
    display: block;
    transition: 0.5s;
    text-decoration: none;
    border:none !important;
    outline:none !important;

}

.active {
    background-color: #FFEFEF;
    font-weight: bold;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    border:none;
    outline:none;
}


#formnav a:hover, .dropdown-btn:hover {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    border:none;
    outline:none !important;

}

.dropdown-container {
  display: none;
  background-color: #EEEEEE;
  padding-left: 30px;
}


.fa-caret-down {
  float: right;
  padding-right: 8px;
}

#formnav {
    transition: margin-left .5s;
    padding-bottom: 200px;
}

#mainnav {
    background-color: #EEEEEE;
}

#mainnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #888888;
    display: block;
    transition: 0.3s;

}

#mainnav a:hover {
    color: #000000;
    font-weight: bold;
}

#appcontainer {
    padding-top: 100px;
}