<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">

      <div id="mainnav" class="row">
        <nav id="mainnav" class="navbar navbar-toggleable-md navbar-light fixed-top">
          <div id="mainnav" class="collapse navbar-collapse" >
            <ul class="navbar-nav mr-auto mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/form">Forms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/export">Export</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/document">Documents</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div id="appcontainer">
      {% block body %}
      {% endblock %}
      </div>
    </div> <!-- /container -->

      <footer class="footer">
        <div class="container">
         <div class="row fixed-bottom">
          <a class="mx-auto" href="https://github.com/pierreGouedard/facile">© 2018 FACILE</a>
         </div>
        </div>
      </footer>

  </body>
</html>