<!-- home.html-->

{% extends "base.html" %}
{% block title %}Documents{% endblock %}
{% block body %}

<div id="formnav" class="sidenav">
  <a href="/documents?table=employe">Employés</a>
  <a href="/documents?table=client">Clients</a>
  <a href="/documents?table=fournisseur">Fournisseur</a>
  <a href="/documents?table=devis">Devis</a>
  <a href="/documents?table=affaire">Affaires</a>
  <a href="/documents?table=commande">Commande</a>
  <a href="/documents?table=facture">Facture</a>
</div>

<div class="jumbotron">
{{ document }}
</div>


{% endblock %}