<!-- home.html-->

{% extends "base.html" %}
{% block title %}Forms{% endblock %}
{% block body %}

<div id="formnav" class="sidenav">
  <a href="/forms?table=employe">Employés</a>
  <a href="/forms?table=client">Clients</a>
  <a href="/forms?table=fournisseur">Fournisseur</a>
  <a href="/forms?table=contact">Contact</a>
  <a href="/forms?table=chantier">Chantier</a>
  <a href="/forms?table=base_prix">Base de prix</a>
  <a href="/forms?table=devis">Devis</a>
  <a href="/forms?table=affaire">Affaires</a>
  <a href="/forms?table=heure">Heures</a>
  <a href="/forms?table=commande">Commande</a>
  <a href="/forms?table=facture">Facture</a>
</div>

<div class="jumbotron">
{{ form }}
</div>


{% endblock %}